// section
.section {
  display: flex;
  flex-direction: row;
  height: 27rem;
  position: absolute;

  &__img {
    width: 70%;
  }
  &__name {
    width: 30%;
    align-items: flex-start;
    flex-wrap: wrap;

  }
}


// location section
.location {
  display: flex;

  &__left {
    width: 70%;
  }

&__right {
  width: 30%;
}
}